# Environment files
.env
.venv/

# Python cache
__pycache__/

# Django static files
staticfiles/

# OS / IDE files
*.pyc
*.pyo
*.db
*.sqlite3
.DS_Store
Thumbs.db

# Node / build artefacts (if any)
node_modules/
