{% extends 'base.html' %}

{% block content %}
  <h1>All Posts</h1>

  {% if user.is_authenticated %}
    <p><a href="{% url 'post_create' %}" class="action-link">+ New Post</a></p>
  {% endif %}

  {% if posts %}
    {% for post in posts %}
      <div class="post-item">
        <h3><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
        <p class="meta">{{ post.created_at|date:"F j, Y" }} by {{ post.author }}</p>

         <p class="text-muted mb-0">
         {{ post.content|truncatewords:40|safe }
          </p>


        <p>
          <a href="{% url 'post_detail' post.pk %}" class="action-link">Read more</a>
          {% if user.is_authenticated and user == post.author %}
            • <a href="{% url 'post_update' post.pk %}" class="action-link">Edit</a>
            • <a href="{% url 'post_delete' post.pk %}" class="action-link danger">Delete</a>
          {% endif %}
        </p>
      </div>
      <hr>
    {% endfor %}
  {% else %}
    <p>No posts found.</p>
  {% endif %}
{% endblock %}
