{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
 <h1>All Posts</h1>

{% if request.user.is_authenticated %}
{% if request.user.is_staff or request.user.is_superuser %}
<p><a href="{% url 'post_create' %}" class="action-link">+ New Post</a></p>
    {% endif %} 
{% endif %}   {%if posts %}
 {% for post in posts %}
 <div class="post-item">
<h3><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
    <p class="meta">{{ post.created_at|date:"F j, Y" }} by {{ post.author }}</p>

          <p class="text-muted mb-0">
           {{ post.content|markdownify|truncatewords:40|safe }}
        </p>


        <p>
          <a href="{% url 'post_detail' post.pk %}" class="action-link">Read more</a>
 
              {% if user.is_authenticated %}
              {% if user == post.author or user.is_staff %}
           <a href="{% url 'post_update' post.pk %}" class="action-link">Edit</a>
            <a href="{% url 'post_delete' post.pk %}" class="action-link danger">Delete</a>
                    {% endif %}
              {% endif %}         </p>
      </div>
      <hr>
    {% endfor %}
  {% else %}
    <p>No posts found.</p>
  {% endif %}
{% endblock %}